.feitjes {
    background-image: url(images/Achtergronden/feitjespagina_achtergrond.png); 
    background-position: center top 20px;
    background-color: #dccc81;

}
.favorieten {
    background-image: url(images/Achtergronden/favorietepagina_achtergrond.png);
    background-position: center top 20px;
    background-color: #e01f13;
}

.index {
    background-image: url(images/Achtergronden/homepagina_achtergrond6.png);
    background-position: center top 28px;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 667px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #d4c782;
    max-width: 375px;
    overflow-x: hidden;
    box-sizing: border-box;

}
h2{
    font-family: "new-order", sans-serif;
    font-weight: 600;
    font-style: normal;
}
h3{
    font-family: "new-order", sans-serif;
    font-weight: 600;
    font-style: normal;
}
p{
    font-family: "new-order", sans-serif;
    font-weight: 500;
    font-style: normal;
}
/* /////////////////////////////////////Index///////////////////////////////////// */

.index main section:first-of-type{
    margin-top: 200px;
}
.index main section h2{
/*     border: solid red 2px; */
    width: fit-content;
    margin-left: 130px;
    margin-top: -42px;
    font-size: 1.2em;
}
.index main section div{
    display: flex;
    flex-direction: row-reverse;
}
.index main section div img{
    width: 75vw;
    margin-left: -50px;
    height: fit-content;
}
.index main section div p{
    font-size: 0.8em;
    margin-top: 150px;
    margin-right: 20px;
    border: dashed 2px black;
    background-color: #d3c581;
    padding: 0;
    height: fit-content;
    text-align: center;
    padding: 0.2px;
}
.index main section:nth-of-type(2){
    margin-top: 80px;
/*     border: solid green 2px; */
}
.index main section:nth-of-type(2) h3{
    font-size: 2em;
    text-align: center;
    color: red;

}

.index main section:nth-of-type(2) div img{
/*     border: solid green 2px; */
    width: 50vw;
    margin-left: 10px;

}
.index main section:nth-of-type(2) div p{

    font-size: 1.4em;
   
    padding: 2px;
    margin: 5px;
    margin-top: 60px;
}
.index main section:nth-of-type(2) div:nth-of-type(2){
    margin-top: 300px;
    flex-direction: row;
}
.index main section:nth-of-type(2) div:nth-of-type(2) img{
width: 50vw;
}
.index main section:nth-of-type(2) div:nth-of-type(2) p{
    font-size: 1.2em;
    width: 80%;
    padding: 2px;
    margin: 5px;
}

.index main section:nth-of-type(2) div:nth-of-type(3){
/*     border: solid green 2px; */
    margin-top: 200px;
}

    
.index main section:nth-of-type(2) div:nth-of-type(3) p{
    padding: 2px;
    margin: 5px;
    margin-bottom: 150px;

}
/* /////////////////////////////////////Index///////////////////////////////////// */
/* /////////////////////////////////////Feitjes///////////////////////////////////// */

.feitjes main article{
    margin-top: 180px;
}
.feitjes main article h2{
    margin-top: -15px;
    margin-left: 38px;
    width: 25vw;
    font-size: 1.8em;
    text-align: center;
}


.feitjes main article div:nth-of-type(1) img{
    width: 70vw;
    margin-left: 70px;
    height: fit-content;
}
.feitjes main article div:nth-of-type(1) p{
    position: absolute;
    border: dashed 2px black;
    border-color: #ddcc81;
    color: #ddcc81;
    width: 50vw;
    padding: 5px;
    text-align: center;
    margin-top: 200px;
    transform: translate(0px, 75px);
}

.feitjes main article div:nth-of-type(2){
    display: flex;
    flex-direction: row-reverse;
}

.feitjes main article div:nth-of-type(2) img{
    width: 50vw;
}
.feitjes main article div:nth-of-type(2) p{
    border: dashed 2px black;
    border-color:#102a41;
    color: #102a41;
    width: 50vw;
    padding: 5px;
    text-align: center;
    height: fit-content;
}

.feitjes main article div:nth-of-type(3) {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 120px;
}
.feitjes main article div:nth-of-type(3) img{
    transform: scale(1.4) translate(20px);
}
.feitjes main article div:nth-of-type(3) p{
    border: dashed 2px black;
    border-color: #ddcc81;
    color: #ddcc81;
    width: 50vw;
    padding: 5px;
    text-align: center;
    align-self: center;
    width: 90vw;
}

.feitjes main article div:nth-of-type(4) {
    display: flex;
    flex-direction: column-reverse;
}
.feitjes main article div:nth-of-type(4) img {
    transform: translate(0,-30px);
}
.feitjes main article div:nth-of-type(4) p {
    border: dashed 2px black;
    border-color:#102a41;
    color: #102a41;
    width: 50vw;
    padding: 5px;
    text-align: center;
    height: fit-content;
    margin-bottom: 100px;
    align-self: center;
    transform: translate(0, -80px) scale(1.35);
}



/* /////////////////////////////////////Feitjes///////////////////////////////////// */
/* /////////////////////////////////////Favorieten///////////////////////////////////// */
.favorieten article{
margin-top: 120px;
}

.favorieten article div:nth-of-type(1){
    display: flex;
    flex-direction: row;
}
.favorieten article div:nth-of-type(1) h2{
    font-size: 2.5em;
    margin-top: 20px;
}
.favorieten article div:nth-of-type(1) img{
    width: 25vw;
    height: fit-content;
}
.favorieten article div:nth-of-type(2){
    display: flex;
    flex-direction: row;
}
.favorieten article div:nth-of-type(2) img{
    width: 40vw;
    
}
.favorieten article div:nth-of-type(2) p{
    border: dashed 2px black;
    background-color: #ddcc81;
    font-size: 1.3em;
    height: fit-content;
    padding: 5px;
    text-align: center;
    margin-left: 7px;

}

.favorieten article div:nth-of-type(3){
    margin-top: 70px;
}
.favorieten article div:nth-of-type(3) img{
    width: 80vw;
    margin-left: -30px;
}
.favorieten article div:nth-of-type(3) p:first-of-type{
    position: absolute;
    border: dashed 2px black;
    background-color: #ddcc81;
    font-size: 1.3em;
    height: fit-content;
    padding: 5px;
    text-align: center;
    width: 50vw;
    right: 10px;
    margin-top: 150px;
}
.favorieten article div:nth-of-type(3) p:last-of-type{
    border: dashed 2px black;
    background-color: #ddcc81;
    font-size: 0.6em;
    height: fit-content;
    padding: 2px;
    text-align: center;
    width: 30vw;
    margin-left: 15px;
    transform: rotate(10deg);
}
.favorieten article div:nth-of-type(4){

    margin-top: 200px;
    height: 400px;

}
.favorieten article div:nth-of-type(4) img{
    width: 60vw;
    transform: translate(170px, -40px);
}
.favorieten article div:nth-of-type(4) p{
    border: dashed 2px black;
    background-color: #ddcc81;
    font-size: 1.1em;
    height: fit-content;
    padding: 2px;
    text-align: center;
    width: 35vw;
    transform: translate(40px);
    position: absolute;
    margin-bottom: 200px;

}


/* /////////////////////////////////////Favoriete///////////////////////////////////// */
/* ////////////////////Header//////////////////// */

header{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    border: 5px solid black;
    background-color: red;
    left: 0;
    top: 0;
    right: 0;
}

header img{
    width: 25vw;
    height: fit-content;
    position: absolute;
    left: 15px ;
    top: 11px;

}
header h1{
    
    font-family: "cheddar-gothic-rough", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.1em;
    color: #102a41;
    padding-right: 15px;
    margin-top: 23px;
    margin-bottom: 23px;

}
/* ////////////////////Header//////////////////// */

/* ////////////////////Footer Nav//////////////////// */

footer{
    bottom: 0;
}
footer nav{
    width: 70vw;
    border: black solid 2px;
    position: fixed;
    bottom: 0;   
    left: 47px; 

    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    height: fit-content;
    background-color: #f1f1f1;

}
footer nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0  ;
    justify-content: space-around;
    margin: 0;

}
footer nav ul li{
    list-style: none;
    justify-content: space-between;
}
footer nav ul li img{
    width: 15vw;
    padding: 2px;
}

.visually-hidden span{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* //////////////////// Footer Nav //////////////////// */
